@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#root {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.site-title {
  width: 500px;
}

.site-title h1 {
  margin: 0 0 50px;
}

.sign-in-area {
  background-color: white;
  position: relative;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  color: #343434;
  font-family: "Volkhov", sans-serif;
  align-content: center;
}

.sign-in-area form h1{
  margin: 0 0 50px;
}

#logName, #logPass, #crEmail, #crPassword, #confirmPassword {
  width: 300px;
}

#logButton, #crButton {
  width: 300px;
}

.register-section, .login-section {
  padding-bottom: 50px;
}


